.video__data {
  margin-top: 20px;
  padding: 0px 20px;
  display: flex;
  flex-direction: column;

  .video__data-header {
    display: flex;
    justify-content: space-between;
  }


  .video__edits {
    font-size: 20px;
    i {
      margin-right: 10px;
    }
  }

  .video__title {
    font-size: 30px;
    margin-bottom: 20px;
  }

  .video__createdAt {
    font-size: 12px;
  }

  .video__owner {
    margin-bottom: 7px;
    font-size: 18px;

    a {
      color: cornflowerblue;
      text-decoration: none;
    }
  }
  .video__data-body {
    display: flex;
    .video_avatar {
      img {
        width: 50px;
        height: 50px;
        border-radius: 50%;
      }
    }
    .video__data__info {
      display: flex;
      flex-direction: column;
      margin-left: 10px;
    }
  }
}

.video__add-comments {
  padding: 20px;
}

.video__comment-form {
  display: flex;
  flex-direction: row !important;
  button {
    border-radius: 25px;
    border: none;
    height: 40px;
    width: 60px;
    cursor: pointer;
    margin-left: 10px;
  }
  button:hover {
    background-color: cornflowerblue;
  }
}


.video__comments {
  margin: 20px;

  .video__comment {
    display: flex;
    justify-content: space-between;
    padding: 10px;
    color: white;
    margin-bottom: 10px;
  }
}
