extends base

block content
  h4 Change Title of video
  form(method="POST")
    input(name="title", placehoder="Video Title", value=video.title, required)
    input(placeholder="Description", required, type="text", name="description", maxlength="200", value=video.description)
    input(placeholder="Hashtags separated by a comma.", required, type="text", name="hashtags", value=video.hashtags.join())
    input(value="Save", type="submit")
