extends base

block content
  if errorMessage
    span=errorMessage
  form(method="POST" enctype="multipart/form-data")
    label(for="video") Upload File
    input(type="file", name="video", id="video", accept="video/*", required)
    input(type="text", name="title", placeholder="Title", required, maxlength="20")
    input(type="text", name="description", placeholder="Description", required, maxlength="200")
    input(type="text", name="hashtags", placeholder="Hashtags separated by a comma.", required)
    input(type="submit", value="Upload Video")
